<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Exercises</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container panel panel-grey">
		<br></br> <br></br>
		<div class="text-center" id="exercises">
			<form name="findExercises" method="POST"
				th:action="@{/exercise/allExercises}">
				<div class="row">
					<div class="form-group col-md-4">
						<label for="cat" class="control-label col-md-3">Category</label> <select
							name="selectedCategory" id="selectedCategory"
							class="form-control" style="width: 70%">
							<option th:value="null">All</option>
							<option th:each="category : ${categories}"
								th:value="${category.categoryId}"
								th:text="${category.categoryName}"
								th:selected="${ #strings.toString(category.categoryId) == selectedCategory }"></option>
						</select>
					</div>
					<div class="form-group col-md-4">
						<label for="exerType" class="control-label col-md-3">Exercise
							Type</label> <select name="selectedExerciseType"
							id="selectedExerciseType" class="form-control" style="width: 70%">
							<option th:value="null">All</option>
							<option th:each="exerciseType : ${exerciseTypes}"
								th:value="${exerciseType.exerciseTypeId}"
								th:text="${exerciseType.exerciseTypeName}"
								th:selected="${ #strings.toString(exerciseType.exerciseTypeId) == selectedExerciseType }"></option>
						</select>
					</div>
					<div class="form-group col-md-4">
						<div class="input-group">
							<input type="text" class="form-control" id="keywords"
								name="keywords" th:value="${keywords}"
								placeholder="Search for title ..."></input> <span
								class="input-group-btn">
								<button class="btn btn-secondary" type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
			<br></br> <br></br> <br></br>
			<div class="col-sm-6 col-sm-offset-3"
				th:if="${#lists.isEmpty(exercises)}">
				<span>There aren't any exercises</span>
			</div>
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-default" th:fragment="exercises"
					th:each="exercise : ${exercises}">
					<div class="panel-heading">
						<h2 class="panel-title" style="font-weight: bold">
							<a th:href="@{/exercise/{id}(id=${exercise.exerciseId})}"
								th:text="${exercise.exerciseTitle}"></a>
						</h2>
					</div>
					<div class="panel-body">
						<span th:if="${exercise.valorationExercise > 0.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
							th:if="${exercise.valorationExercise > 1.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
							th:if="${exercise.valorationExercise > 2.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
							th:if="${exercise.valorationExercise > 3.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
							th:if="${exercise.valorationExercise > 4.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span>
							<br></br>
						<div th:if="${exercise.categories}">
							<h5 style="margin-left: 40px">
								<span th:text-align="left">&nbsp;&nbsp;<b>Categories</b></span>:&nbsp;
								<span class="label label-default"
									th:each="category : *{exercise.categories}"
									th:text="${category.categoryName}"></span>
							</h5>
						</div>
						<div th:if="${exercise.exerciseTypes}">
							<h5 style="margin-left: 40px">
								<span th:text-align="left">&nbsp;&nbsp;<b>Exercise
										types</b>:&nbsp;
								</span> <span class="label label-default"
									th:each="exerciseType : *{exercise.exerciseTypes}"
									th:text="${exerciseType.exerciseTypeName}"></span>
							</h5>
						</div>
						<br></br> <span th:text="${exercise.exerciseDescription}"></span>
						<br></br>

					</div>
				</div>
				<br></br>
				<!-- Reusable pagination Bar -->
				<div th:fragment='paginationbar'>
					<div>
						<ul class='pagination pagination-centered'>
							<li th:class="${page.firstPage}?'disabled':''"><span
								th:if='${page.firstPage}'>← First</span> <a
								th:if='${not page.firstPage}'
								th:href='@{${page.url}(page=0,size=${page.size},keywords=${keywords},selectedCategory=${selectedCategory},selectedExerciseType=${selectedExerciseType})}'>←
									First</a></li>
							<li th:class="${page.hasPreviousPage}? '' : 'disabled'"><span
								th:if='${not page.hasPreviousPage}'>«</span> <a
								th:if='${page.hasPreviousPage}'
								th:href='@{${page.url}(page=${page.number-2},size=${page.size},keywords=${keywords},selectedCategory=${selectedCategory},selectedExerciseType=${selectedExerciseType})}'
								title='Go to previous page'>«</a></li>
							<li th:each='item : ${page.items}'
								th:class="${item.current}? 'active' : ''"><span
								th:if='${item.current}' th:text='${item.number}'>1</span> <a
								th:if='${not item.current}'
								th:href='@{${page.url}(page=${item.number-1},size=${page.size},keywords=${keywords},selectedCategory=${selectedCategory},selectedExerciseType=${selectedExerciseType})}'><span
									th:text='${item.number}'>1</span></a></li>
							<li th:class="${page.hasNextPage}? '' : 'disabled'"><span
								th:if='${not page.hasNextPage}'>»</span> <a
								th:if='${page.hasNextPage}'
								th:href='@{${page.url}(page=${page.number},size=${page.size},keywords=${keywords},selectedCategory=${selectedCategory},selectedExerciseType=${selectedExerciseType})}'
								title='Go to next page'>»</a></li>
							<li th:class="${page.lastPage}? 'disabled' : ''"><span
								th:if='${page.lastPage}'>Last →</span> <a
								th:if='${not page.lastPage}'
								th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size},keywords=${keywords},selectedCategory=${selectedCategory},selectedExerciseType=${selectedExerciseType})}'>Last
									→</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>