<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Exercise</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
<link rel="stylesheet" media="screen" th:href="@{/css/styleApp.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/fabricjs/dist/fabric.js}"></script>
<style>
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix {
	clear: both;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #F5F5F5;
	border: 1px solid #CCC;
	border-radius: 4px;
}

/* Rating Star Widgets Style */
.rating-stars ul {
	list-style-type: none;
	padding: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.rating-stars ul>li.star {
	display: inline-block;
}

/* Idle State of the stars */
.rating-stars ul>li.star>i.fa {
	font-size: 2em; /* Change the size of the stars */
	color: #ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul>li.star.hover>i.fa {
	color: black;
}

/* Selected state of the stars */
.rating-stars ul>li.star.selected>i.fa {
	color: black;
}
</style>
<script th:inline="javascript" type="text/javascript">

	var canvas;
	window.onload = function() {
		
		var graphicjson = [[${graphicjson}]];
		var video = [[${exercise.videoURL}]];
		
		if (video==null){
			document.getElementById('panelvideo').style.display = "none";
		}
		if (graphicjson!=null) {
			canvas = new fabric.StaticCanvas('c');
			canvas.loadFromJSON(graphicjson, function() {
				   canvas.renderAll(); 
				   canvas.calcOffset();
			});
			document.getElementById('download').addEventListener('click', function() {
			    downloadCanvas(this, 'c', 'graphic.png');
			}, false);
			document.getElementById('canvas').style.display = "block";
			document.getElementById('panelDownload').style.display = "block";
		}
		
	}
	
	function downloadCanvas(link, canvasId, filename) {
	    link.href = document.getElementById(canvasId).toDataURL();
	    link.download = filename;
	}
	
	function downloadPDF() {
        var image = canvas.toDataURL("image/png");
        image = image.replace('data:image/png;base64,', '');
        var exerciseId = [[${exercise.exerciseId}]];
		var urlPost = "http://localhost:8080/footballtraining/exercise/downloadPDF/" + exerciseId;
		if (exerciseId != null){
			   $.ajax({
				      type: "POST",
				      url: urlPost,
				      data: JSON.stringify('{ "imageData" : "' + image + '" }'),
		              contentType: 'application/json; charset=utf-8',
		              dataType: 'json',
		               success: function(text) {
		            	   var element = document.createElement('a');
		            	   element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
		            	   element.setAttribute('download', 'exercise');

		            	   element.style.display = 'none';
		            	   document.body.appendChild(element);

		            	   element.click();

		            	   document.body.removeChild(element);
		                }
				  });
		}
	}
	
	$(function() {
        $("#form").submit(function() {
            var image = canvas.toDataURL("image/png");
            image = image.replace('data:image/png;base64,', '');
    		var urlPost = "http://localhost:8080/footballtraining/exercise/downloadImage";
            $.ajax({
                type: 'POST',
                url: urlPost,
                data: '{ "imageData" : "' + image + '" }',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(msg) {
                    alert('Image saved successfully !');
                }
            });
            return true;
        });
    });
	
	//<![CDATA[
	$(document)
			.ready(
					function() {
						$('#stars li').on('mouseover', function() {
							var onStar = parseInt($(this).data('value'), 10);
							$(this).parent().children('li.star').each(

							function(e) {
								if (e < onStar) {
									$(this).addClass('hover');
								} else {
									$(this).removeClass('hover');
								}
							});

						}).on(
								'mouseout',
								function() {
									$(this).parent().children('li.star').each(
											function(e) {
												$(this).removeClass('hover');
											});
								});
						$('#stars li')
								.on(
										'click',
										function() {
											var onStar = parseInt($(this).data(
													'value'), 10);
											var stars = $(this).parent()
													.children('li.star');

											for (i = 0; i < stars.length; i++) {
												$(stars[i]).removeClass(
														'selected');
											}

											for (i = 0; i < onStar; i++) {
												$(stars[i])
														.addClass('selected');
											}

											var ratingValue = parseInt($(
													'#stars li.selected')
													.last().data('value'), 10);
											var msg = "";
											if (ratingValue > 1) {
												msg = "Thanks! You rated this "
														+ ratingValue
														+ " stars.";
											} else {
												msg = "We will improve ourselves. You rated this "
														+ ratingValue
														+ " stars.";
											}
											responseMessage(msg,ratingValue);

										});

					});

	function responseMessage(msg,value) {
		var exerciseId = [[${exercise.exerciseId}]];
		var urlPost = "http://localhost:8080/footballtraining/valorateExercise/" + exerciseId + "/" + value;
		if (exerciseId != null){
			   $.ajax({
				      type: "POST",
				      contentType : 'application/json; charset=utf-8',
				      dataType : 'json',
				      url: urlPost,
				      complete : function(result) {
				    	  window.location.reload(result);
				     }
				  });
		}
	}
	//]]>
	
</script>
</head>
<body>

	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<div class="text-center" id="exercise">
			<br></br>
			<div class="panel panel-grey">
				<h1>
					<span th:text="*{exercise.exerciseTitle}"></span>
				</h1>
				<br></br> <span th:if="${exercise.valorationExercise > 0.5}"
					class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
					th:if="${exercise.valorationExercise > 1.5}"
					class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
					th:if="${exercise.valorationExercise > 2.5}"
					class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
					th:if="${exercise.valorationExercise > 3.5}"
					class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
					th:if="${exercise.valorationExercise > 4.5}"
					class="glyphicon glyphicon-star" aria-hidden="true"></span> <br></br>
				<div th:if="${exercise.valorationCountExercise > 0}">
					<i class="fa fa-users" aria-hidden="true"></i>&nbsp; <span
						th:text="${exercise.valorationCountExercise}" aria-hidden="true"></span>
				</div>
				<br></br>
				<div class="text-left">
					<br></br>
					<div th:if="${exercise.categories}">
						<br></br>
						<h4 style="margin-left: 40px">
							<span th:text-align="left">&nbsp;&nbsp;<b>Categories</b></span>:&nbsp;
							<span class="label label-default"
								th:each="category : *{exercise.categories}"
								th:text="${category.categoryName}"></span>
						</h4>
					</div>
				</div>
				<div class="text-left">
					<br></br>
					<div th:if="${exercise.exerciseTypes}">
						<h4 style="margin-left: 40px">
							<span th:text-align="left">&nbsp;&nbsp;<b>Exercise
									types</b>:&nbsp;
							</span> <span class="label label-default"
								th:each="exerciseType : *{exercise.exerciseTypes}"
								th:text="${exerciseType.exerciseTypeName}"></span>
						</h4>
					</div>
				</div>
				<div class="text-left">
					<br></br>
					<div th:if="${exercise.exerciseDescription}">
						<h4 style="margin-left: 40px">
							<span th:text-align="left">&nbsp;&nbsp;<b>Description</b>:&nbsp;
							</span> <span th:text="*{exercise.exerciseDescription}"
								th:text-align="left"></span> <br></br>
						</h4>
					</div>
					<div th:if="${exercise.exerciseObjective}">
						<br></br>
						<h4 style="margin-left: 40px">
							<span th:text-align="left">&nbsp;&nbsp;<b>Objectives</b>:&nbsp;
							</span> <span th:text="*{exercise.exerciseObjective}"
								th:text-align="left"></span> <br></br>
						</h4>
					</div>
					<div th:if="${exercise.loads}">
						<br></br>
						<h4 style="margin-left: 40px">
							<span th:text-align="left">&nbsp;&nbsp;<b>Loads</b>:&nbsp;
							</span> <span th:text="*{exercise.loads}" th:text-align="left"></span> <br></br>
						</h4>
					</div>
					<div th:if="${exercise.breaks}">
						<br></br>
						<h4 style="margin-left: 40px">
							<span th:text-align="left">&nbsp;&nbsp;<b>Breaks</b>:&nbsp;
							</span> <span th:text="*{exercise.breaks}" th:text-align="left"></span>
						</h4>
						<br></br>
					</div>
				</div>

				<br></br> <br></br>
				<div class="text-center" style="display: none" id="canvas">
					<div class="canvas-container"
						style="position: relative !important;">
						<canvas id="c" width="762" height="600" draggable="false"
							style="border: 2px solid #000000; position: relative !important; border-radius: 15px"></canvas>
					</div>
					<br></br> <br></br>
				</div>
				<form method="post"
					th:action="@{/exercise/deleteGraphic/{id}(id=${exercise.exerciseId})}">
					<div class="text-center">
						<br></br>
						<button id="deleteGraphic"
							th:if="${user} and ((${user.userId}==${exercise.user.userId}) or ${isOwner}) and (${exercise.graphic}!=null)"
							type="submit" class="btn btn-danger">
							<span class="glyphicon glyphicon-trash">&nbsp;Remove
								Graphic</span>
						</button>

					</div>
					<br></br>
				</form>
				<form method="get"
					th:action="@{/graphic/modifyGraphic/{id}(id=${exercise.graphic.graphicId})}">
					<div class="text-center">
						<br></br>
						<button id="modifyGraphic"
							th:if="${user} and ((${user.userId}==${exercise.user.userId}) or ${isOwner}) and (${exercise.graphic}!=null)"
							type="submit" class="btn btn-primary">
							<span class="glyphicon glyphicon-pencil">&nbsp;Modify
								Graphic</span>
						</button>
					</div>
					<br></br>
				</form>
				<form method="get"
					th:action="@{/graphic/selectGraphicImage/{id}(id=${exercise.exerciseId})}">
					<div class="text-center">
						<br></br>
						<button id="createGraphic"
							th:if="${user} and ((${user.userId}==${exercise.user.userId}) or ${isOwner}) and (${exercise.graphic}==null)"
							type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-plus">&nbsp;Add Graphic</span>
						</button>
					</div>
					<br></br>
				</form>

				<div class="text-center" style="display: none" id="panelDownload">
					<h4>
						<span th:text-align="center"><a id="download">Download
								as image</a></span>
					</h4>
					<br></br> <br></br>
				</div>
				<form method="post"
					th:action="@{/exercise/downloadPDF/{id}(id=${exercise.exerciseId})}">
					<div class="text-center">
						<button id="submitId" type="submit" class="btn btn-primary">
							<span class="glyphicon glyphicon-download-alt" aria-hidden="true">&nbsp;Download
								exercise as PDF</span>
						</button>
						<br></br> <br></br>
					</div>
				</form>
				<div class="table-container" style="display: none"></div>


				<div th:if="${exercise.videoURL}">
					<br></br>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" style="border: 0;"
							width="500" height="270" th:src="${exercise.videoURL}"
							allowfullscreen="true" mozallowfullscreen="true"
							webkitallowfullscreen="true"></iframe>
					</div>
					<br></br> <br></br>
				</div>
				<form method="post"
					th:action="@{/exercise/deleteExercise/{id}(id=${exercise.exerciseId})}">
					<div class="text-center">
						<br></br>
						<button id="deleteExercise"
							th:if="${user} and ((${user.userId}==${exercise.user.userId}) or ${isOwner})"
							type="submit" class="btn btn-danger">
							<span class="glyphicon glyphicon-trash">&nbsp;Remove
								Exercise</span>
						</button>
					</div>
					<br></br>
				</form>

				<div class="text-center">
					<a href="details.html"
						th:href="@{/user/{id}/details(id=${exercise.user.userId})}"> <span
						class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
						<span th:id="${exercise.user.userName}"
						th:text="${exercise.user.userName}"></span>
					</a> <br></br> <br></br>
				</div>
				<br></br>
				<div class="text-center">
					<div id="stars" th:if="${notVoted}">
						<h6>Rate this exercise!</h6>
						<br></br>
						<section class='rating-widget'>
							<!-- Rating Stars Box -->
							<div class='rating-stars text-center'>
								<ul id='stars'>
									<li class='star' title='Poor' data-value='1'><i
										class='fa fa-star fa-fw'></i></li>
									<li class='star' title='Fair' data-value='2'><i
										class='fa fa-star fa-fw'></i></li>
									<li class='star' title='Good' data-value='3'><i
										class='fa fa-star fa-fw'></i></li>
									<li class='star' title='Excellent' data-value='4'><i
										class='fa fa-star fa-fw'></i></li>
									<li class='star' title='WOW!!!' data-value='5'><i
										class='fa fa-star fa-fw'></i></li>
								</ul>
							</div>
						</section>
					</div>
					<div id="success" th:if="${voted}">
						<div class="alert alert-success">You have voted this
							exercise</div>
					</div>
				</div>

				<div class="panel-footer">

					<button id="buttonCreateComment" class="btn btn-default"
						type="button" data-toggle="collapse"
						th:attr="data-target='#collapseCreateComment'+${exercise.exerciseId}"
						aria-expanded="false" aria-controls="collapseExample">

						<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
						<span class="badge" th:text="${#lists.size(comments)}"></span>
					</button>

					<div class="collapse"
						th:id="'collapseCreateComment'+${exercise.exerciseId}">
						<br></br>
						<ul class="list-group">
							<span th:each="comment : *{comments}">
								<form method="post"
									th:action="@{/exercise/deleteComment/{id}(id=${comment.commentId})}">
									<li class="list-group-item">
										<div class="text-center">
											<a href="details.html"
												th:href="@{/user/{id}/details(id=${comment.userId})}"> <span
												class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
												<span th:id="${comment.userName}"
												th:text="${comment.userName}"></span>
											</a>
											<button id="deleteComment"
												th:if="${user} and ((${user.userId}==${comment.userId}) or ${isOwner})"
												type="submit" class="btn btn-danger pull-right">
												<span class="glyphicon glyphicon-trash"></span>
											</button>
										</div> <br></br> <br></br> <span id="comment"
										th:text="*{comment.commentText}" th:text-align="center"></span>
									</li> <br></br>
								</form>
							</span>

						</ul>

						<form th:if="${user}" method="post"
							th:action="@{/createComment/{id}/{page}(id=${exercise.exerciseId},page=${page})}"
							th:object="${createCommentForm}"
							th:attr="onsubmit='return validationComment(\''+${exercise.exerciseId}+'\')'">
							<!--/* Show general error message when form contains errors */-->
							<th:block th:if="${#fields.hasErrors('${createCommentForm.*}')}">
								<div
									th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
							</th:block>
							<fieldset>
								<div class="form-group"
									th:classappend="${#fields.hasErrors('text')}? 'has-error'">

									<div class="col-lg-9">
										<textarea class="form-control" rows="2"
											th:id="textComment+${exercise.exerciseId}" placeholder="Text"
											th:field="*{text}"></textarea>
										<span class="help-block" th:if="${#fields.hasErrors('text')}"
											th:errors="*{text}">Incorrect text</span> <span
											th:id="validateText+${exercise.exerciseId}"></span>
									</div>
									<div class="col-lg-2">
										<button id="createComment" type="submit"
											class="col-lg-offset-1 btn btn-default">Create
											comment</button>
									</div>
								</div>
							</fieldset>
						</form>

					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer">&nbsp;</div>
	</div>
</body>
</html>