<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Forms</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container panel panel-grey">
		<br></br> <br></br>
		<div class="text-center" id="forms">
			<form name="findForms" method="POST"
				th:action="@{/document/allForms}">
				<div class="row">
					<div class="form-group col-md-4 col-md-offset-4">
						<div class="input-group">
							<input type="text" class="form-control" id="keywords"
								name="keywords" th:value="${keywords}"
								placeholder="Search for title ..."></input> <span
								class="input-group-btn">
								<button class="btn btn-secondary" type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					</div>
				</div>
			</form>
			<br></br> <br></br> <br></br>
			<div class="col-sm-6 col-sm-offset-3"
				th:if="${#lists.isEmpty(forms)}">
				<span>There aren't any forms</span>
			</div>
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-default" th:fragment="forms"
					th:each="form : ${forms}">
					<div class="panel-heading">
						<h2 class="panel-title" style="font-weight: bold">
							<a th:href="@{/form/{id}(id=${form.formId})}"
								th:text="${form.formTitle}"></a>
						</h2>
					</div>
					<div class="panel-body">
						<span th:if="${form.valorationForm > 0.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
							th:if="${form.valorationForm > 1.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
							th:if="${form.valorationForm > 2.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
							th:if="${form.valorationForm > 3.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
							th:if="${form.valorationForm > 4.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span> <br></br>
						<br></br>
						<span th:text="${form.formDescription}"></span>
						<br></br>

					</div>
				</div>
				<br></br>
				<!-- Reusable pagination Bar -->
				<div th:fragment='paginationbar'>
					<div>
						<ul class='pagination pagination-centered'>
							<li th:class="${page.firstPage}?'disabled':''"><span
								th:if='${page.firstPage}'>← First</span> <a
								th:if='${not page.firstPage}'
								th:href='@{${page.url}(page=0,size=${page.size},keywords=${keywords})}'>←
									First</a></li>
							<li th:class="${page.hasPreviousPage}? '' : 'disabled'"><span
								th:if='${not page.hasPreviousPage}'>«</span> <a
								th:if='${page.hasPreviousPage}'
								th:href='@{${page.url}(page=${page.number-2},size=${page.size},keywords=${keywords})}'
								title='Go to previous page'>«</a></li>
							<li th:each='item : ${page.items}'
								th:class="${item.current}? 'active' : ''"><span
								th:if='${item.current}' th:text='${item.number}'>1</span> <a
								th:if='${not item.current}'
								th:href='@{${page.url}(page=${item.number-1},size=${page.size},keywords=${keywords})}'><span
									th:text='${item.number}'>1</span></a></li>
							<li th:class="${page.hasNextPage}? '' : 'disabled'"><span
								th:if='${not page.hasNextPage}'>»</span> <a
								th:if='${page.hasNextPage}'
								th:href='@{${page.url}(page=${page.number},size=${page.size},keywords=${keywords})}'
								title='Go to next page'>»</a></li>
							<li th:class="${page.lastPage}? 'disabled' : ''"><span
								th:if='${page.lastPage}'>Last →</span> <a
								th:if='${not page.lastPage}'
								th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size},keywords=${keywords})}'>Last
									→</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>