<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Articles</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container panel panel-grey">
		<br></br> <br></br>
		<div class="text-center" id="articles">
			<h1>
				<a href="details.html"
					th:href="@{/user/{id}/details(id=${userArticle.userId})}"> <span
					class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; <span
					th:id="${userArticle.userName}" th:text="${userArticle.userName}"></span>
				</a>
			</h1>
			<br></br> <br></br>
			<div class="col-sm-6 col-sm-offset-3"
				th:if="${#lists.isEmpty(articles)}">
				<span>User did not upload articles</span>
			</div>
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-default" th:fragment="articles"
					th:each="article : ${articles}">
					<div class="panel-heading">
						<h2 class="panel-title" style="font-weight: bold">
							<a th:href="@{/article/{id}(id=${article.articleId})}"
								th:text="${article.articleTitle}"></a>
						</h2>
					</div>
					<div class="panel-body">
						<span th:if="${article.valorationArticle > 0.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
							th:if="${article.valorationArticle > 1.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
							th:if="${article.valorationArticle > 2.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
							th:if="${article.valorationArticle > 3.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span> <span
							th:if="${article.valorationArticle > 4.5}"
							class="glyphicon glyphicon-star" aria-hidden="true"></span> <br></br>
						<br></br> 
						<span th:text="${article.articleDescription}"></span> <br></br>
					</div>
				</div>
				<br></br>
				<!-- Reusable pagination Bar -->
				<div th:fragment='paginationbar'>
					<div>
						<ul class='pagination pagination-centered'>
							<li th:class="${page.firstPage}?'disabled':''"><span
								th:if='${page.firstPage}'>← First</span> <a
								th:if='${not page.firstPage}'
								th:href='@{${page.url}(page=0,size=${page.size})}'>← First</a></li>
							<li th:class="${page.hasPreviousPage}? '' : 'disabled'"><span
								th:if='${not page.hasPreviousPage}'>«</span> <a
								th:if='${page.hasPreviousPage}'
								th:href='@{${page.url}(page=${page.number-2},size=${page.size})}'
								title='Go to previous page'>«</a></li>
							<li th:each='item : ${page.items}'
								th:class="${item.current}? 'active' : ''"><span
								th:if='${item.current}' th:text='${item.number}'>1</span> <a
								th:if='${not item.current}'
								th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span
									th:text='${item.number}'>1</span></a></li>
							<li th:class="${page.hasNextPage}? '' : 'disabled'"><span
								th:if='${not page.hasNextPage}'>»</span> <a
								th:if='${page.hasNextPage}'
								th:href='@{${page.url}(page=${page.number},size=${page.size})}'
								title='Go to next page'>»</a></li>
							<li th:class="${page.lastPage}? 'disabled' : ''"><span
								th:if='${page.lastPage}'>Last →</span> <a
								th:if='${not page.lastPage}'
								th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last
									→</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>